body {
    margin: 0;
    padding: 0;
    background-color: #EEEFEA;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.851);
    position: fixed;
    z-index: 1000;
    /* Adicione um índice z alto para garantir que o header esteja na frente */
    top: 0;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
}

/* Estilize a barra de navegação */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Estilize os itens de menu */
nav ul li {
    display: inline;
    margin-right: 20px;
    /* Espaçamento entre os itens do menu */
}

/* Estilize os links de menu */
nav ul li a {
    position: relative;
    top: 13px;
    left: 1250px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


nav ul li a:hover {
    color: #F4B334;
    /*cor quando passa o mouse no header*/
}

#inicio {
    width: 500px;
    position: absolute;
    top: 100px;
    left: 200px;
}

#Home {
    width: 500px;
}

.sidebar {
    position: relative;
    top: 1900px;
    left: -50px;
    background-color: #F4B334; /* Cor de fundo da barra lateral */
    border-radius: 5px;
    padding: 10px;/* Espaçamento interno */
    height: 250px;
    width: 125px;
}

/* Estilo para os links (ícones) */
.sidebar a {
    margin-top: 20px;
    margin-left: 50px;
    display:    block;
    /* Torna os links blocos para ocupar toda a largura da barra lateral */
    margin-bottom: 20px;
    /* Espaço entre os ícones */
}

/* Estilo para as imagens (ícones) */
.sidebar img {
    width: 55px;/* Largura dos ícones */
    transition: transform 0.3s;/* Efeito de transição suave (opcional) */
}

/* Efeito de escala nos ícones quando o mouse passa por cima */
.sidebar a:hover img {
    transform: scale(1.1);
}

#Sobre {
    margin-bottom: 100px;
    width: 500px;
    position: relative;
    left: 200px;
    top: 800px;
    padding-bottom: 300px;
}

/*Barra de rolagem */
::-webkit-scrollbar {
    width: 12px;
    /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.851);
    /* Cor de fundo da área da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: #888;
    /* Cor da barra de rolagem */
    border-radius: 2px;
    /* Raio da borda da barra de rolagem */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Cor da barra de rolagem ao passar o mouse */
}

#contatos{
 position: absolute;
 left: 500px;
 top: 1700px;
 width: 500px;
}